{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/tire.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	| Pneus
{% endblock %}

{% block content %}
	<main class="container-fluid">
		<h1>Choisir un pneu</h1>
		<div class="grid">
            {% for tire in tires %}
                <article>
                    <header>
                        <img src="{{ tire.image ?? 'assets/images/pneu_placeholder.webp' }}" alt="">
                    </header>
                    <h1>{{ tire.name}}</h1>
                    <h2>{{ tire.category }}</h2>
                    {{ tire.price}}€
                </article>
            {% endfor %}
			
		</div>
	</main>
{% endblock %}
